<% include ../partials/header %>

<div class="container">
    <h1><%= Campground.name %></h1>

    <img src="<%= Campground.image %>" alt="image of a campground">

    <p><%= Campground.description %></p>

    <p> <a class="btn btn-success" role="button" href="/campgrounds/<%= Campground._id %>/comments/new">Add a comment</a> </p>

    <h3>Comments:</h3>
    <% Campground.comments.forEach(function(comment){ %>
        <p><strong><%= comment.author %></strong> : <%= comment.text %> </p>
    <% }); %>
</div>
<% include ../partials/footer %>